.button_container {
    text-align: center;
}

.grid_container {
    width: 960px;
    height: 960px;
    display: table;
    margin: 40px auto;
}

.row {
    margin: 0 auto;
    display: table-row;
}

.cell {
    display: table-cell;
}

.square {
    background-color: #FF1A17;
    border-radius: 5px;
}

.blue {
    background-color: #0F47DE;
}